body
{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   
}

header
{ 
    background-color:darkcyan;
    background-size: 100%;
    background-position: center;
    height: 30px;
    padding: 20px;
    padding-top:3px;

}
nav
{   
    color: white;
    list-style-type: none;
}
ul.navigation li.logo a
  {
    color:lightblue;
    height: 100px;
    width: 300px;
    margin-left:5%;
    position: relative;
    top:-70px;
    bottom: 10px;
    font-style: italic;
    font-size: 20px;
   
    text-decoration-line: none; 
  }


.comboBox
{   
    margin-left:73%;
    margin-top:10px;
    position: relative;
    width: 6%;
    height: 26px;
    border-right: none; 
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-radius: 5px;
    font-size: 14px;
     
    
}

ul.navigation li.searchBox
{
    margin-left: 80%;
    margin-top: 4px;
    margin-right:20px;
    display: inline-block;
    position: relative;
    top:-47px;
    
}

.searchBox input[type=text]
 {
     background-image: url('images/searching.png');
     background-position: 4px 2px; 
     background-repeat: no-repeat;
     box-sizing:border-box;
     border: 2px solid #ccc;
     border-radius: 5px;
     font-size: 14px;
     background-color: white;
     width: 130px;
     padding:3px 30px ;
     /*-webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;*/
  }
  ul.navigation li.searchBox input[type=text]:focus 
  {
    width: 75%;
  }

  /*Middle Part*/

  div.verticleLine
  {
    border-left: 2px solid #ddd;
    height: 600px;
    position: absolute;
    left: 22%;
    margin-left: -3px;
    top: 88px;
  }

  main 
  {
    background-color: white;
    background-size: 100%;
    margin-left: 12%;
    margin-top: 40px;
    height: 750px;
    overflow: auto;
  }
  .section-heading a
  {
      color: #5899; 
      text-decoration-style: none;
      text-decoration-line: none; 

  }
  ul.stuff li
  {
     
      margin-left:-40px;
      position: relative;
      list-style-type: none; 
      padding-bottom: 20px;
  }
  

  ul.stuff li a
  {
   
    padding:0px 20px ;  
    color: darkgoldenrod;
    text-decoration-style: none;
    text-decoration-line: none;  
  }
  ul.stuff li a:hover
  {   
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
   
  }
   
 div.editcourse button
  {
      border: 1px solid #ddd;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 5px;
      margin-left: 80%;
      top: -250px;
      color:#666;
      font-size: 14px;
      position: relative;
  }
  
  div.editcourse button:hover
  {
      color:darkcyan;
  }

  div.myCources
  {
    margin-left: 15%;
    top:-300px;
    border: 1px dotted #ddd;
    box-sizing: border-box;
    border-radius: 8px;
    width: max-content;
    padding-right: 20px;
    position: relative;
  }
  
  div.myCources ul li
  {
    display:block;
    color: #333;
    margin-left: -20px;
    
  }

  h5
  {
    margin-left: -20px;
    margin-bottom: 8px;
    color:lightseagreen;
  }

  section h3.heading
  {
    margin-left: 15%;
    top:-300px;
    position: relative;
    color:#666;
  }

  /*Footer*/
footer{
  background: darkcyan;
  padding:40px;
  color: white;
  margin-top: 70px;
}