body
{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   
}

header
{ 
    background-color:darkcyan;
    background-size: 100%;
    background-position: center;
    height: 30px;
    padding: 20px;
    padding-top:3px;

}
nav
{   
    color: white;
    list-style-type: none;
}
ul.navigation li.logo a
  {
    color:lightblue;
    height: 100px;
    width: 300px;
    margin-left:5%;
    position: relative;
    top:-70px;
    bottom: 10px;
    font-style: italic;
    font-size: 20px;
   
    text-decoration-line: none; 
  }


.comboBox
{   
    margin-left:73%;
    margin-top:10px;
    position: relative;
    width: 6%;
    height: 26px;
    border-right: none; 
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-radius: 5px;
    font-size: 14px;
     
    
}

ul.navigation li.searchBox
{
    margin-left: 80%;
    margin-top: 4px;
    margin-right:20px;
    display: inline-block;
    position: relative;
    top:-47px;
    
}

.searchBox input[type=text]
 {
     background-image: url('images/searching.png');
     background-position: 4px 2px; 
     background-repeat: no-repeat;
     box-sizing:border-box;
     border: 2px solid #ccc;
     border-radius: 5px;
     font-size: 14px;
     background-color: white;
     width: 130px;
     padding:3px 30px ;
     /*-webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;*/
  }
  ul.navigation li.searchBox input[type=text]:focus 
  {
    width: 75%;
  }

  /*Middle Part*/

  div.verticleLine
  {
    border-left: 2px solid #ddd;
    height: 600px;
    position: absolute;
    left: 22%;
    margin-left: -3px;
    top: 88px;
  }

  main 
  {
    background-color: white;
    margin-left: 12%;
    margin-top: 40px;
    height:750px;
    overflow:auto;
    
  }
  .section-heading a
  {
      color: #5899; 
      text-decoration-style: none;
    text-decoration-line: none; 

  }
  ul.stuff li
  {
     
      margin-left:-40px;
      position: relative;
      list-style-type: none; 
      padding-bottom: 20px;
  }
  

  ul.stuff li a
  {
   
    padding:0px 20px ;  
    color: darkgoldenrod;
    text-decoration-style: none;
    text-decoration-line: none;  
  }
  ul.stuff li a:hover
  {   
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
   
  }

  h2.welcomeheading
  {
      margin-top: -265px;    
      margin-left:75%;
  }
  a
  {
    text-decoration-line: none;
    text-decoration: none;
  }

  div hr
  {
    width:96%;
    border:1px solid #ddd;
  }

  div.wel 
  {
    margin-left:10% ;
  }
  ul.wlist li 
  {
    display: inline-block;
    padding-right: 20px;
    position: relative;
   
  }
  ul.wlist li a
  {
    color:#666;
  }

  ul.wlist li a:active
  {
    border-bottom: 3px solid darkcyan;
    
  }

  div.titleb
  {
      margin-left:12%;
      margin-top: 20px;
  }
  div.classes
   {
      margin-left: 11%;
      margin-top: 5px;
   }

  
  h4.titleC
  {
      margin-left:2% ;
      color: #589;
  }

  div.titleb button.addClass
  {
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    margin-left: 90%;
    top: -40px;
    color:#666;
    font-size: 14px;
    position: relative;
  }

  
  button.addClass:hover
  {
      color: darkcyan;
  }

  ul.myClass li
  {
      border: 1px solid #ddd;
      width:80%;
      height:35px;
      top:-50px;
      display: block;
      padding-left: 20px;
      padding-top: 20px;
      position: relative;
  }

  ul.myClass li a
  {
    color:#565;
  }

  ul.myClass :hover
  {
    border: 0px ;
  }
  ul.myClass li a:active
  {
    color:#585;
  }
  /*Footer*/
footer{
  background: darkcyan;
  padding:40px;
  color: white;
}