body
{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   
}

header
{ 
    background-color:darkcyan;
    background-size: 100%;
    background-position: center;
    height: 30px;
    padding: 20px;
    padding-top:3px;

}
nav
{   
    color: white;
    list-style-type: none;
}
ul.navigation li.logo a
  {
    color:lightblue;
    height: 100px;
    width: 300px;
    margin-left:5%;
    position: relative;
    top:-70px;
    bottom: 10px;
    font-style: italic;
    font-size: 20px;
   
    text-decoration-line: none; 
  }


.comboBox
{   
    margin-left:73%;
    margin-top:10px;
    position: relative;
    width: 6%;
    height: 26px;
    border-right: none; 
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-radius: 5px;
    font-size: 14px;
     
    
}

ul.navigation li.searchBox
{
    margin-left: 80%;
    margin-top: 4px;
    margin-right:20px;
    display: inline-block;
    position: relative;
    top:-47px;
    
}

.searchBox input[type=text]
 {
     background-image: url('images/searching.png');
     background-position: 4px 2px; 
     background-repeat: no-repeat;
     box-sizing:border-box;
     border: 2px solid #ccc;
     border-radius: 5px;
     font-size: 14px;
     background-color: white;
     width: 130px;
     padding:3px 30px ;
     /*-webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;*/
  }
  ul.navigation li.searchBox input[type=text]:focus 
  {
    width: 75%;
  }

  div.verticleLine
  {
    border-left: 2px solid #ddd;
    height: 700px;
    position: absolute;
    left: 20%;
    margin-left:-3px;
    top: 88px;
  }

  /*Main */


main 
{
    background-color: white;
    background-size: 100%;
    margin-left:40px;
    margin-top: 40px;
    height: 750px;
    overflow: auto;
    
}

h4.class_headeing
{
    color: #5899; 
}
 
 div.class_materials ul li
 {
    margin-left:25px;
    position: relative;
    list-style-type: none; 
    padding-bottom: 20px;
    top:0px;
 }

 div.class_materials ul li a
 {
     text-decoration-line: none;
     color: darkgoldenrod;
     position: relative;
 }

 legend.title
 {
     color:#567;
     font-weight: bold;
 }

 div.students form fieldset
 {
    
    margin-left:21%;
    margin-top: -240px;
    position: relative;
    height:500px;
     width:75%;
     border:1px solid #ddd;
     border-radius: 5px;
     
 }

 table.student_table td hr
 {
     width:980px;
 }


table.student_table td
 {
    border-collapse: collapse;
    position: relative;
    text-align: center;
    top:30px;
    padding-right: 50px;
    padding-bottom:5px;
    color:#666;
    
 }

 /*Footer*/
footer{
    background: darkcyan;
    padding:40px;
    color: white;
    margin-top: 70px;
}
 