<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="all_designs/indexD.css">
    <scritp type="text/javascript" src="../php_and_js/indexD.js"></scritp>
    <title>Index</title>
</head>
<body>

    <header>
          <nav>
              <ul class="navigation">
                  <li class="links"><a href="login.php">Login</a></li>
                  <li class="links"><a href="registration.html">Sign Up</a></li>
              </ul>
          </nav>

    </header>
<div class="mainBody">
    	<section class="introduction">
            <h1>Welcome to MNP Academy</h1>
            <p>An online platform where every learners and teachers</p>
            <p>from any corner of the world can connect with each other.</p>
        </section>
        <div class="npbutton">
            <!-- <img class="previousbutton" src="all_designs/images/previousbutton.png" >
            <img class="nextbutton" src="all_designs/images/nextbutton.png"> -->
            <a class="previousbutton" onclick="plusSlides(-1)">&#10094;</a>
            <a class="nextbutton" onclick="plusSlides(1)">&#10095;</a>
            <p id="checking"></p>
        </div>
        <div class="slider" >
            <div class="sliders">
            <h3 class="heading">About us</h3>
            <p class="detailsaboutus">Every course on MNP Academy is taught by top  </p>
            <p class="detailsaboutus">instructors so that learners can learn new things</p>  
            <p class="detailsaboutus">anytime from anywhere. Lots of free courses give</p>
            <p class="detailsaboutus">the learners access to on-demand video lectures,</p> 
            <p class="detailsaboutus">forums,homework exercises,and community</p> 
            <p class="detailsaboutus">discussion. Paid courses provide additional quizzes</p> 
            <p class="detailsaboutus">and projects as well as a shareable Course Certificate </p> 
            <p class="detailsaboutus">upon completion.</p>
            </div>

            <div class="sliders">
                <h3 class="theading">What we teach?</h3>
                <p class="weteach">
                    We teach habijabi. hahahahahahaha
                </p>

            </div>
            
          
        </div>
</div>


<footer>

</footer>
   
</body>
</html>