body
{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   
}

header
{ 
    background-color:darkcyan;
    background-size: 100%;
    background-position: center;
    height: 30px;
    padding: 20px;
    padding-top:3px;

}
nav
{   
    color: white;
    list-style-type: none;
}
ul.navigation li.logo a
  {
    color:lightblue;
    height: 100px;
    width: 300px;
    margin-left:5%;
    position: relative;
    top:-70px;
    bottom: 10px;
    font-style: italic;
    font-size: 20px;
   
    text-decoration-line: none; 
  }


.comboBox
{   
    margin-left:73%;
    margin-top:10px;
    position: relative;
    width: 6%;
    height: 26px;
    border-right: none; 
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-radius: 5px;
    font-size: 14px;
     
    
}

ul.navigation li.searchBox
{
    margin-left: 80%;
    margin-top: 4px;
    margin-right:20px;
    display: inline-block;
    position: relative;
    top:-47px;
    
}

.searchBox input[type=text]
 {
     background-image: url('images/searching.png');
     background-position: 4px 2px; 
     background-repeat: no-repeat;
     box-sizing:border-box;
     border: 2px solid #ccc;
     border-radius: 5px;
     font-size: 14px;
     background-color: white;
     width: 130px;
     padding:3px 30px ;
     /*-webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;*/
  }
  ul.navigation li.searchBox input[type=text]:focus 
  {
    width: 75%;
  }

  /*Middle Part*/

  

main
  {
    background-image: url("images/bkstack.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 700px;
    padding: 20px;
  }

main div.verticleLine
  {
    border-left: 2px solid #ddd;
    height: 600px;
    position: absolute;
    left: 22%;
    margin-left: -3px;
    top: 88px;
  }

  main h4.section-heading a
  {
      color: #5899; 
      text-decoration-style: none;
      text-decoration-line: none;
      margin-left:150px; 

  }
  ul.stuff li
  {
     
      margin-left:100px;
      position: relative;
      list-style-type: none; 
      padding-bottom: 20px;
  }
  

  ul.stuff li a
  {
   
    padding:0px 20px ;  
    color: darkgoldenrod;
    text-decoration-style: none;
    text-decoration-line: none;  
  }
  ul.stuff li a:hover
  {   
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  main div form fieldset.editfield
  {
    background-color: white;
    border-radius: 5px;
    border-color: #ddd;
    border:0;
    box-sizing: border-box;
    width: max-content;
    position: relative;
    margin-left: 40%;
    margin-top: -250px;
    padding: 60px;
    color:#555;
    
  }

  .editfield img
  {
      border:1px solid #ddd ;
      border-radius: 8px;
      margin-top: -35px;
      
  }

legend.mainLegend
{
    margin-left: -40px;
    padding-bottom:2px;
    color: #666;
}


input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
     border: 1px solid #ddd;
     color:#666;
     margin-top: 20px;
    }
    
input:focus {
     outline: none;
     border: 1px solid #ddd;
     color: #2d9fd9;
}

/*Footer*/
footer{
    background: darkcyan;
    padding:40px;
    color: white;
}